<p>
  <strong>Hi and welcome to my homepage! </strong>I am currently an undergraduate student in 
  the School of Materials Science and Engineering at Huazhong University of Science and Technology, 
  but I have a strong passion for <strong>physics</strong>and aspire to pursue a <strong>Ph.D. in physics</strong> 
  in the future. 
  My current research primarily focuses on <strong>non-Hermitian physics</strong>,
  and I am eager to gain a deeper understanding of fields related to <strong>quantum information</strong>.
</p>
<p>
  Beyond serious academic studies, I also enjoy reading the history of science and am deeply 
  inspired by the great physicists of the past. 
  In addition, I am quite fond of philosophy, literature, economics, 
  and other intellectually stimulating and speculative activities.
</p>
<p>
    <stong>Email:</stong>yuyanghe738@gmail.com·heyuyang@hust.edu.cn
</p>
